<nav class="bg-info d-flex justify-content-around fs-5">
  <div class="text">{{User.name}}</div>|
  <div>
  <div class="text">{{User.email}}</div>
  <div class="text">{{User.phone}}</div>
  </div>|
  <div>
  <div class="text">Address</div>
  <div class="text">{{User.address.suite}}, {{User.address.street}} ST, {{User.address.city}}</div>
  </div>
</nav>

<div class="bg-light text-center fs-4 mb-2">{{User.name}}'s Albums

  <span class="position-sticky start-100 fs-5 text-success">{{AllAlbums.length}} Album</span>
</div>


<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 w-75 m-auto">
  <div class="col" *ngFor="let a of AllAlbums" (click)="go2Photos(a.id)">
    <div class="card">
          <img src="assets\cover.jpg" class="card-img-top" alt="Hollywood Sign on The Hill">
      <div class="card-body">
        <h5 class="card-title"> {{a.title}}</h5>
        <!-- <p class="card-text">
          {{a.title}}
        </p> -->
      </div>
    </div>
  </div>

<!-- ============================================================ -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="displayAlert">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">All Photos</h4>
        <button type="button" class="btn btn-success" (click)="close()">
          X
        </button>
      </div>
      <div class="modal-body d-flex justify-content-center flex-wrap">
      <!-- ============================================================ -->
<div *ngFor="let p of AllPhotos">
  <img src = {{p.url}} class="card-img-top" alt={{p.id}} style="width: 150px; height: 150px;">
</div>
      <!-- ============================================================ -->
      </div>
      <div class="modal-footer">
        <span class="position-sticky end-100 fs-5 text-success">{{AllPhotos.length}} photo</span>
        <button type="button" class="btn btn-success" (click)="close()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<style>
  .card:hover{
     transform: scale(1.02);
     background: linear-gradient(
        45deg,
        hsla(168, 85%, 52%, 0.5),
        hsla(263, 88%, 45%, 0.5) 100%
      );
}
</style>
